.my-header{
	background-image: url(../img/background.jpg);
	background-position: center;
	width: 100%;
	position: absolute;
	background-size: cover;
	background-repeat: no-repeat;
}

.btn-warning{
	color: #FFF;
	background-color: #d15d39;
    border-color: #d15d39;
}
.btn-warning:hover {
	color: #FFF;
	background-color: #d15d39;
    border-color: #d15d39;
}

.ghost{
	background: transparent;
	color: #F2F2F2;
	-webkit-transition: background .2s ease-in-out, border .2s ease-in-out;
	-moz-transition: background .2s ease-in-out, border .2s ease-in-out;
	-ms-transition: background .2s ease-in-out, border .2s ease-in-out;
	-o-transition: background .2s ease-in-out, border .2s ease-in-out;
	transition: background .2s ease-in-out, border .2s ease-in-out;
	-webkit-border-radius: 0;
	-moz-border-radius:    0;
	border-radius:         0;
	width: 100%;
	padding-top: 30px;
    padding-bottom: 30px;
}

#btn-container{
	margin-top: auto;
	margin-bottom: auto;
	padding:0px !important;
}

.ghost-list-button{
    background: transparent;
    color: #d15d39;
    -webkit-transition: background .2s ease-in-out, border .2s ease-in-out;
    -moz-transition: background .2s ease-in-out, border .2s ease-in-out;
    -ms-transition: background .2s ease-in-out, border .2s ease-in-out;
    -o-transition: background .2s ease-in-out, border .2s ease-in-out;
    transition: background .2s ease-in-out, border .2s ease-in-out;
    -webkit-border-radius: 0;
    -moz-border-radius:    0;
    border-radius:         0;
    width: 100%;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#btn-row{
	width: 85%
}

.vertical-center {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.resp-padded{
    margin-top: 10px;
    margin-bottom: 10px;
}

#toggle-button-sm{
    margin-top: 6% !important;
}

.row-spacing {
    margin-top: 50px; 
    margin-bottom: 50px
}

.top-no-margin {
    margin-top: 0px;
}








/*TRUCK LIST PAGE*/
.truck-header{
    margin-top: 25px;
    width: 100%;
    position: absolute;
}

.truckList-header{
    margin-top: 25px;
    width: 100%;
    position: absolute;
    height: 100%
}

.truckList-map-container-aside {
    position: fixed; 
    min-height: 85vh
}

.truckList-map-aside {
    max-width:85%;
}

.truckList-map-container-below {
    margin-bottom: 20px;
}

.truckList-map-below {
    max-width: 100%;
}

.truckList-cuisine-med {
    width: 75% !important; 
    font-size: medium !important; 
    padding: 2px !important;
}

.truckList-cuisine-sm {
    width: 100% !important; 
    font-size: small !important; 
    padding: 2px !important;
}

.truckList-open-lg {
    position: absolute; 
    top: -20px;
    right: -30px; 
    width: 50%;
}

.truckList-open-md {
	position: absolute; 
    top: -20px; 
    right: -40px; 
    width: 40%;
}

.truckList-open-xs {
    position: absolute; 
    top: -20px; 
    right: -40px; 
    width: 100px;
}

.truckList-learn-md {
    padding-left: 0px; 
    padding-right: 0px
}

.truckList-social-responsive {
    padding-left: 0px; 
    padding-right: 0px
}

#truckListPage {
    background-image: url(../img/truckList_background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}





/*TRUCK PROFILE PAGE*/
#truckProfilePage{
    background-image: url(../img/truckProfile_background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.well-orange {
    padding: 5px;
    background-color: #d15d39;
    border: none;
    color: #fff;
    width: 11%; 
    margin-left: 10px;
}
.well-orange-cuisine {
    padding: 5px;
    background-color: #d15d39;
    border: none;
    color: #fff;
    width: 46%;
    margin-left: 0px;
    font-size: 20px;
}

.well-orange-cuisine-sm {
    padding: 5px;
    background-color: #d15d39;
    border: none;
    color: #fff;
    width: 135%;
    margin-left: 0px;
    font-size: 20px;
}

.well-orange-cuisine-md {
    padding: 5px;
    background-color: #d15d39;
    border: none;
    color: #fff;
    width: 125%;
    margin-left: 0px;
    font-size: 20px;
}

.profile-city {
    margin-top: -20px;
    font-size: 30px;
    margin-left: 20px;
    font-weight: 100;
    color: #fff;
}

.profile-city-sm {
    margin-top: -20px;
    margin-left: 20px;
    font-weight: 100;
    color: #fff;
    font-size: 25px
}

.profile-title {
    margin-top: -4px;
    font-size: 75px;
    color: #FFF;
    margin-bottom: 0px;
}

.profile-title-sm {
    color: #FFF;
    margin-bottom: 0px;
    margin-top: 5px; 
    font-size: 50px;
}


.white {
    color: #fff;
}

h3.white { 
    font-weight: 100;
}

.truckPage-spacer-md {
    margin-top: 50px !important;
}

.truckPage-spacer-sm {
    margin-top: 40px !important;
}

.truckPage-vert-push-sm {
    margin-top: -10px;
}

.truckPage-left-spacer-sm {
    margin-left: 10px;
}

.money-icon-lg {
    font-size: 6em; 
    margin-top: -5px;
}

.money-icon-sm {
    font-size: 4.25em; 
    margin-top: -5px;
}

.money-icon-xs {
    font-size: 3.5em; 
    margin-top: -5px;
}

.icon-xs-sizer {
    font-size: 3em !important;
}

.icon-sm-sizer {
    font-size: 3.5em !important;
}

.icon-md-sizer {
    font-size: 5em !important;
}

.truckPage-stacking-cat-md {
    width: 100%; 
    margin-bottom:5px
}

.truckPage-stacking-cat-sm {
    width: 100%; 
    margin-bottom:5px; 
    font-size: x-small; 
    padding: 4px;
}

.truckPage-horiz-cat-sm {
    width: 100%; 
    margin-bottom:5px; 
    font-size: x-small; 
    padding: 4px;
}

.truckPage-vh-50 {
    min-height: 50vh;
}

.truckPage-vh-10 {
    min-height: 10vh;
}

.truckPage-vh-40 {
    min-height: 10vh;
}

.truckPage-cusine-sm {
    font-size: x-small;
}

.truckPage-cuisine-xs {
    font-size: large; 
    width: 75%; 
    margin-bottom: 5px;
}

.truckPage-opt-sm {
    padding: 8px;
}

.truckPage-map-holder-xs { 
    position: relative; 
    top: -30px
}






/*NAV BAR STUFF*/

#nav-box{
	margin-left: 75px;
}

.navbar{
	min-height: 125px !important;
}

.navbar-inverse{
    background-color: #fff;
    margin-bottom: 0;
}

.navbar-inverse .navbar-toggle{
    background-color: #d15d39 !important;
    border-color: #fff;
    margin-top: 3%;

}

#brand-text-md{
	font-family: 'Lobster', cursive;
    color: #d15d39;
    font-size: 50px;
    padding: 0px;
    margin-top: 5%;
}
#brand-text-sm{
    font-family: 'Lobster', cursive;
    color: #d15d39;
    font-size: 35px;
    padding: 0px;
    margin-top: 5%;
}

@media (max-width: 4000px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
		margin-top: 7.5px;
        background-color: #f5f5f5;
	}
	.navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
  		display:block !important;
	}
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
    border-color: #fff;
    position: relative;
    top: 15px;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    background-color: #D15D39;
}

.navbar-nav a:focus, a:hover {
    color: #FF805C !important;
}