.navbar{
	min-height: 125px !important;
}
.my-header{
	background-image: url(../img/background.jpg);
	background-position: center;
	width: 100%;
	position: absolute;
	background-size: cover;
	background-repeat: no-repeat;
	margin-top: -2%;
}